:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bg-color: hsl(220, 5%, 24%);
  --main-color: hsl(47, 84%, 48%);
  --caret-color: hsl(47, 84%, 48%);
  --sub-color: hsl(216, 2%, 40%);
  --sub-alt-color: hsl(216, 5%, 18%);
  --dark-color: hsl(0, 0%, 13%);
  --text-color: hsl(55, 12%, 80%);
  --orange: hsl(34, 100%, 50%);
  --highlight: hsl(180, 92%, 42%);
  --green-light: hsl(120, 93%, 41%);
  --red-light: hsl(0, 97%, 47%);
  --error-color: hsl(354, 55%, 54%);
  --colorful-error-color: hsl(354, 55%, 54%);
  --colorful-error-extra-color: hsl(354, 50%, 33%);
  --error-extra-color: hsla(354, 100%, 21%, 0.5);
  
  --translucent-black: hsla(0, 0%, 0%, 0.5);
  --blue-background-gradient: linear-gradient(135deg, hsl(242, 100%, 7%) 0%, hsl(234, 100%, 16%) 59%, hsl(241, 100%, 33%) 100%);
  --exit-button-gradient: linear-gradient(135deg, hsl(0, 100%, 34%) 0%, hsl(0, 100%, 22%) 62%, hsl(0, 100%, 21%) 100%);
  --button-color-gradient: linear-gradient(171deg, hsl(187, 100%, 21%) 0%, hsl(219, 100%, 21%) 59%, hsl(242, 100%, 22%) 100%);
  color: #f6f6f6;
  background-color: #2f2f2f;
  background-color: #202020;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  margin: 0.5em 0;
}

p {
  margin: 0;
  margin: 0.5em 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  /* color: #535bf2; */
  color: #24c8db;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* color: #0f0f0f; */
  /* background-color: #ffffff; */
  color: #ffffff;
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    margin: 0.5em 0;
  cursor: pointer;
  border: transparent;
  font-weight: 600;
   /* padding: 0.5em; */
  /* background: hsl(187, 100%, 21%); */
  /* background: var(--button-color-gradient); */
  /* color: var(--text-color); */
  /* border-radius: 0.25em; */
  /* font-size: 1em; */
  /* box-shadow: 1px 1px 5px hsl(0, 0%, 0%); */
  /* max-height: 3em; */
}

button:hover,
input:focus {
  /* filter: drop-shadow(0 0 2em #747bff); */
  box-shadow: 0 0 0.5em #747bff;
}

input,
button {
  outline: none;
}

main {
    padding: 0.25em;
}

.section {
  /* border-radius: 0.5em; */
  /* padding: 0.5em 0.75em; */
  /* margin: 0 0.5em 0.5em 0.5em; */
  /* background: var(--translucent-black); */
  /* box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.534); */
  border-top: 1px solid grey;

}

.errorsection {
  background: var(--error-extra-color);
}

.section-title {
  /* margin: 0 0; */
    font-size: 1.3em;
}

.backup-light {
  background: var(--red-light);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px var(--red-light);
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.green-light {
  background: var(--green-light);
  box-shadow: 0 0 5px 5px var(--green-light);
}

.notification-title {
    font-weight: 600;
    margin: 0;
    margin-top: 1em;
}

.notification-box {
    /* justify-self: end */
    display: flex;
    flex-direction: column;
    /* gap: 0.5em; */
    align-items: end;
    justify-content: end;
    text-align: end;
}

.folder-input {
    display: flex;
  gap: 0.5em;
  align-items: center;
}

.backup-section,
.snapshot-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

.backup-bottom {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.backup-status {
  display: flex;
  gap: 1em;
  align-items: center;
}

.backup-status-elements p {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 0.5em; */
    text-wrap: nowrap;

}

/* .snapshot-upper { */
/*   grid-column: 1 / span 2; */
/*   grid-row: 1 / 2; */
/* } */

.hotkey {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.hotkey input {
    width: 7em;
}

/* .snapshot-bottom { */
/*   grid-column: 1 / 2; */
/*   grid-row: 2 / 3; */
/* } */

.profile-section {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.profile-buttons {
  display: flex;
  gap: 0.5em;
}

