:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bg-color: #202020;
  /* --text-color: hsl(55, 12%, 80%); */
  --text-color: #f6f6f6;
  --link-color: #646cff;
  --link-hover-color: #24c8db;
  --blue-background-gradient-color: #747bff;
  --green-light: hsl(120, 93%, 41%);
  --red-light: hsl(0, 97%, 47%);
  --error-color: hsl(354, 55%, 54%);
  --colorful-error-color: hsl(354, 55%, 54%);
  --colorful-error-extra-color: hsl(354, 50%, 33%);
  --error-extra-color: hsla(354, 100%, 21%, 0.5);
  
  /* --translucent-black: hsla(0, 0%, 0%, 0.5); */

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2 {
  margin: 0.5em 0;
}

p {
  margin: 0;
  margin: 0.5em 0;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* color: #0f0f0f; */
  /* background-color: #ffffff; */
  /* color: #ffffff; */
  color: var(--text-color);
  background-color: #0f0f0f98;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    margin: 0.5em 0;
  cursor: pointer;
  border: transparent;
  font-weight: 600;
   /* padding: 0.5em; */
  /* background: hsl(187, 100%, 21%); */
  /* background: var(--button-color-gradient); */
  /* color: var(--text-color); */
  /* border-radius: 0.25em; */
  /* font-size: 1em; */
  /* box-shadow: 1px 1px 5px hsl(0, 0%, 0%); */
  /* max-height: 3em; */
}

button:hover,
input:focus {
  box-shadow: 0 0 0.5em var(--blue-background-gradient-color);
}

input,
button {
  outline: none;
}

main {
    padding: 0.25em;
}

.section {
  /* border-radius: 0.5em; */
  /* padding: 0.5em 0.75em; */
  /* margin: 0 0.5em 0.5em 0.5em; */
  /* background: var(--translucent-black); */
  /* box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.534); */
  border-top: 1px solid grey;

}

.errorsection {
  background: var(--error-extra-color);
}

.section-title {
  /* margin: 0 0; */
    font-size: 1.3em;
}

.backup-light {
  background: var(--red-light);
  border-radius: 10px;
  box-shadow: 0 0 5px 5px var(--red-light);
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.green-light {
  background: var(--green-light);
  box-shadow: 0 0 5px 5px var(--green-light);
}

.notification-title {
    font-weight: 600;
    margin: 0;
    margin-top: 1em;
}

.notification-box {
    /* justify-self: end */
    display: flex;
    flex-direction: column;
    /* gap: 0.5em; */
    align-items: end;
    justify-content: end;
    text-align: end;
}

.folder-input {
    display: flex;
  gap: 0.5em;
  align-items: center;
}

.backup-section,
.snapshot-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

#backup-time {
    width: 4em;
}

#backup-number {
    width: 4em;
}

.backup-bottom {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.backup-status {
  display: flex;
  gap: 1em;
  align-items: center;
}

.backup-status-elements p {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 0.5em; */
    text-wrap: nowrap;

}

.hotkey {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.hotkey input {
    width: 7em;
}

.profile-section {
  display: flex;
  gap: 2em;
  justify-content: space-between;
}

.profile-buttons {
  display: flex;
  gap: 0.5em;
}
